*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: url(bg6.jpg);
    height: 190vh;
    background-size: cover;
    background-position: center;
}
.profil
{
    position: absolute;
    width: 500px;
    margin-left: 350px;
    margin-top: 0;
}

h1
{
    color:black;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    margin-top: 130px;
    margin-left: 5px;
}

.foto
{
    position: absolute;
    width: 500px;
    margin-left: 300px;
    margin-top: 5px;
}

.foto img
{
    margin: 100%;
    margin-left: 65px;
    margin-top: 190px;
}

h2
{
    color:black;
    font-size: 20px;
    text-align: center;
    margin-left: 100px;
    margin-top: -450px;
}
