*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}

header
{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(bg1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.row
{
    float: right;
    list-style: none;
    margin-top: 5px;
    margin-left: 600px;
}

.desc
{
    margin-top: 30px;
}

.btn-desc
{
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: white;
}

.btn-desc:hover
{
    border: 1px solid white;
    background-color: plum;
    transition: all 0.05s ease-in;
}

.tech
{
    margin-top: 30px;
}

.btn-tech
{
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: white;
}

.btn-tech:hover
{
    border: 1px solid white;
    background-color: plum;
    transition: all 0.05s ease-in;
}

.buy
{
    margin-top: 30px;
}

.btn-buy
{
    color:white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}

.btn-buy:hover
{
    border: 1px solid white;
    background-color: plum;
    transition: all 0.05s ease-in;
}

.judul
{
    position: absolute;
    width: 1200px;
    margin-left: 0;
    margin-top: 0;
}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
}

.creator
{
    margin-top: 40px;
    margin-left: 320px;
}

.btn-creator
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.btn-creator:hover
{
    background-color: palevioletred;
    transition: all 0.05s ease-in;
}